* {
    box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
	width: 100%;
	max-width: 1200px;
}

/* ----- HEADER ----- */

header {                                /* LOGO */
    display: flex;
    justify-content: space-between;
}

.logo-header {
    display: flex;
}

header nav {
    display: flex;
}

header nav ul {                         /* NAV */
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}

header nav li {
    padding-left: 30px;
    font-size: 1em;
}


/* ----- BODY ----- */

.corps {
    display: flex;
    flex-direction: column;
}

.maquette {                              /* MAQUETTE */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#slide {
    display: flex;
    width: 100%;
    z-index: 1;
}

#logo {
    z-index: 2;
    position: absolute;
    bottom: 50%;
    width: 200px;
}

.maquette p {
    position: absolute;
    z-index: 2;
    color: white;
    font-size: 2em;
    bottom: 30%;
}

.contenu {                                  /* CONTENU */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-contenu {
    color: rgb(83, 83, 83);
    display: flex;
    font-size: 1.4em;
    max-width: 68%;
    text-align: center;
    margin-top: 30px;
}

.body-contenu {                             /* SKILL */
    display: flex;
    max-width: 68%;
    justify-content: space-between;
    text-align: center;
    margin-top: 30px;
}

.graphisme {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strategie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.illustrations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.body-contenu h3 {
    font-weight: 400;
    font-size: 1.4em;
}

.body-contenu p {
    font-size: small;
    padding: 0px 20px 0px 20px;
}

.footer-contenu {                           /* CITATION */
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin-top: 50px;
}

.citation {
    color: rgb(83, 83, 83);
    text-align: center;
    font-size: 1.2em;
}

.auteur {
    color: rgb(83, 83, 83);
    font-weight: 300;
}

/* ----- FOOTER ----- */

footer {
    background-color: #5b359d;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.nom {
    color: white;
    font-size: 0.8em;
    font-weight: 600;
}

.reseaux-sociaux i {
    color: rgba(255, 255, 255, 0.712);
    font-size: 2em;
    margin: 0px 40px 0px 40px;
}

.info {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.info p {
    color: rgba(255, 255, 255, 0.712)
}

.info ul {
    color: white;
}

#description {
    color: white;
    padding-left: 30px;
}